*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: #7ef078;
}

.table{
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
}

.ttop{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #338f49;
}

.elem{
    color: white;
    display: flex;
}
.box{
    background-color: #fff;
    color: #338f49;
    margin:0 9px;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}


.tbtm{
    width: 100%;
    height: 85%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bubble{
    width: 7vw;
    height: 7vh;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    border: 3px solid rgb(28, 57, 28);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    background-color: #338f49;
}

